.card {
  position: relative;
  margin: 0 auto;
  margin-bottom: 16px;
  width: 380px;
  height: 460px;

  background: linear-gradient(
    114.99deg,
    #471ca9 -0.99%,
    #5736a3 54.28%,
    #4b2a99 78.99%
  );
  box-shadow: 5px 7px 27px -2px rgba(0, 0, 0, 0.54);
  border-radius: 20px;
}
.bgPicture {
  position: absolute;
  top: 28px;
  left: 36px;
  width: 308px;
  height: 168px;
}
.logo {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 76px;
  height: 22px;
}

.hLine {
  position: absolute;
  top: 214px;
  left: 0;
}
.avatar {
  position: absolute;
  top: 178px;
  left: 150px;
  width: 80px;
  height: 80px;
  border-radius: 50px;
}
.avatarFrame {
  position: absolute;
  top: 178px;
  left: 150px;
  width: 80px;
  height: 80px;
}

.userName {
  position: absolute;
  top: 178px;
  left: 150px;
}

.tweets {
  position: absolute;
  margin: auto;
  top: 284px;
  left: 50%;
  transform: translate(-50%, 0);

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;

  color: #ebd8ff;
}

.followers {
  position: absolute;
  margin: auto;
  left: 50%;
  top: 324px;
  transform: translate(-50%, 0);
  white-space: nowrap;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;

  color: #ebd8ff;
}
.followButton {
  position: absolute;
  width: 196px;
  height: 50px;
  left: 92px;
  top: 374px;

  background: #ebd8ff;
  box-shadow: 0px 3.43693px 3.43693px rgba(0, 0, 0, 0.25);
  border-radius: 10.3108px;
  border: none;

  cursor: pointer;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  color: #373737;
}
.followButton:hover {
  box-shadow: 5px 7px 27px -2px rgba(0, 0, 0, 0.54);
}
.followed {
  background: #5cd3a8;
}
